Source: qzxing-plugin
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9.0.0),
               qtbase5-dev,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qt5-default,
               qtdeclarative5-qtquick2-plugin
Standards-Version: 3.9.4
Homepage: https://projects.developer.nokia.com/QZXing

Package: qtdeclarative5-qzxing-plugin
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: QZXing QtQuick 2 plugin
 Port to QtQuick 2 of the ZXing 1D/2D barcode image decoder


